<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="fileDistributorServiceSection"
                 type="FileDistributorService.Configuration.FileDistributorServiceSection, FileDistributorService" />
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <fileDistributorServiceSection>
        <culture value="en" />
        <defaultDirectory value=".\Default" />
        <watchedDirectories>
            <add value=".\Test" />
            <add value=".\Test1" />
        </watchedDirectories>
        <mapRules>
            <add fileNameRegex=".*[.]txt" destDirectory=".\Texts" addSerialNumber="true" addMoveDate="true" />
            <add fileNameRegex=".*[.]jpg" destDirectory=".\Images" addMoveDate="true" />
        </mapRules>
    </fileDistributorServiceSection>
</configuration>